nav#goban-nav {
	select {
		min-width: 150px;
		padding: 5px;
		font-size: 16px;
		&#scale {
			position: absolute;
			right: 100px;
			min-width: 100px;
		}
	}
	ul {
		li {
			a {
				@include transition(all 0.5s ease);
				@include border-radius(5px 50% 50% 5px);
				@include transform(skewX(15deg));
				&:hover,&:active,&.active{
					background-color: #999;
				}
				&.active {
					&::after {
						position:absolute;
						top:8px;
						left:7px;
						display:inline-block;
						content:"";
						width: 0px;
						height: 0px;
						border:2px solid cyan;
						@include border-radius(50%);
					}
				}
				&.dark {
					border: 3px solid gray;
					@include transform(scaleX(1.2));
					@include border-radius(50%);
					background-color: #999;
				
				}
				&.zopd {	
					@include background-image(radial-gradient(25px 25px, cyan 1px, #333 4px));				
				}
			}
		}
	}
	#logo {
		position: absolute;
		right: 5px;
		top: 5px;
		img {
			@include border-radius(50%);
		}
	}
}