#goban-side {
	#setting-bar{
		#goban-sectionTitle {
			color: black;
			padding: 2px;
			border-bottom: 2px dotted #aaf;
			border-left: 2px dotted #aaf;
		}
		select {
			position: relative;
			top: 5px;
			left: 25px;
		}
	}
	ul {
		min-height:66px;
		li {
			a {
				color: #666;
				&.active {
					&::after {
						position:relative;
						top:-3px;
						left:12px;
						display:inline-block;
						content:"";
						width: 6px;
						height: 6px;
						border-top:2px solid cyan;
						border-left:2px solid cyan;
						@include transform(rotate(-45deg));
					}
				}
			}
		}
	}
	
	#tools {
		$bb: darken(cyan, 20);
		.gray {
			margin-right: 15px;
			padding:2px;
			border-left: 2px dotted $bb;
			border-top: 2px dotted $bb;
		}
		select {
			font-size: 18px;
			padding: 5px;
			margin: 5px;
			margin-top: 20px;
			height: 60px;
		}
		a {
			font-size: 14px;
		}
	}
}