#goban-side {
	#goban-sectionTitle {
		color: black;
		padding: 2px;
		border-bottom: 2px dotted #aaf;
		border-left: 2px dotted #aaf;
	}
	ul {
		min-height:66px;
	}
	a {
		color: #666;
		&.active {
			&::after {
				position:relative;
				top:-3px;
				left:12px;
				display:inline-block;
				content:"";
				width: 6px;
				height: 6px;
				border-top:2px solid cyan;
				border-left:2px solid cyan;
				@include transform(rotate(-45deg));
			}
		}
	}
}