/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


#contact {
  color: hsla(240,70%, 80%, 1);
}

.arrowHead-left {
  display: inline-block;
  width: 0px;
  border-right: 4px solid black;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.gov {
  -webkit-filter: grayscale(100%) brightness(75%);
  -moz-filter: grayscale(100%) brightness(75%);
  filter: grayscale(100%) brightness(75%);
}


ol.tiny > li {
  margin-top: 10px;
}

img.idea {
  height: 240px;
  border-radius: 15px;
}

#handbook {
  opacity: 0.85;
  b {
    @include transform(scale(3));
    margin-right: 15px;
    margin-bottom: 8px;
  }
  &:hover ,&:active{
    opacity: 1;
    @include transition(all 0.5s ease);
  }
}

body {
  background: url(http://upload.wikimedia.org/wikipedia/commons/3/36/Mount_Yu_Shan_-_Taiwan.jpg) no-repeat center center fixed;
  @include background-size(cover);
  font-size: 18px;
}

body.in {
  background: none;
}

.main-container {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  min-height: 1024px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.search {
  display: inline-block;
  border: 8px rgba(155, 155, 255, 0.5) solid;
  vertical-align: middle;
  input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 5px;  
  }
}

.answer, .extand {
  display: inline-block;
  border-radius: 15px;
  padding: 9px;
}

.answer {
  margin-left: 32px;
  border: 2px #9b9bff solid;
}

.extand {
  border: 1px #19c8ff solid;
}

.tiny {
  font-size: 12px;
}

.navbar-header {
  padding-right: 20px;
}


.row {
  margin-bottom: 35px;
}

p {
  font-size: 20px;
  line-height: 160%;
  margin-top: 25px;
}


i {
  font-style: italic;
  margin-left: 35px;
}

.name {
  border: 2px solid #e8e830;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.speaker {
  margin: 15px;
  border-radius: 15px;
  position: fixed;
  left: 0;
  top: 32%;
}

.book {
  float: right;
}

.box:first-letter, .box p:first-letter {
  margin-left: 18px;
}

.box {
  display: block;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px;
  width: 25%;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.sample-show-hide.ng-hide-remove {
  @include transition(all linear 0.5s);
  display: block !important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity: 0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .noPhone {
    display: none;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .noPhone {
    display: none;
  }

  .nav > li {
    display: inline-block;
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .noPhone {
    display: inherit;
  }
}
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .noPhone {
    display: none;
  }
}
/********/
/* Animate */
