body {
 /*   background-image: url("../img/leaf-green.png"); */
    background-color: rgba(200,200,155,1);
}

#map { float: left; height: 800px; width: 74%; min-width: 420px; border-radius: 15px}
#join { float: right; max-height: 800px; width: 25%; min-width: 200px;
    padding-left: 7px; border-radius: 15px;
    background-color: rgba(255,255,255,0.7); overflow: auto;
    color: rgba(0,0,0,0.1);
}

#searchDiv { position:fixed; top: 20px; left: 60px; z-index: 1}
#chatDiv, #news{ display:block; position:fixed; bottom: 50px; left: 60px;
    z-index: 1;
    width: 450px; height: 200px;
    max-width: 25%; max-height: 33%;
    background: rgba(200,200,200,0.5);
    border: 3px; border-radius: 10px; padding: 5px; overflow: auto;
    opacity:0.3;
    filter:alpha(opacity=30); /* 適用 IE8 及早期版本 */ }

#news {
    left: 360px;
}

#chatMessageDiv { overflow: auto;}


#backUp {
    display:block; position:fixed; bottom: 150px; right: 30%; z-index: 1;
    border: 3px; border-radius: 10px; padding: 5px; overflow: auto;
    opacity:0.3;
    filter:alpha(opacity=30); /* 適用 IE8 及早期版本 */ 
}

#searchbox
{
  background: #eaf8fc;
  background-image: -moz-linear-gradient(#fff, #d4e8ec);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
  
  -moz-border-radius: 35px;
  border-radius: 35px;
  
  border-width: 1px;
  border-style: solid;
  border-color: #c4d9df #a4c3ca #83afb7;            
  width: 500px;
  height: 35px;
  padding: 10px;
  margin: 20px auto 50px;
  overflow: hidden; /* Clear floats */
  opacity:0.3;
  filter:alpha(opacity=30); /* 適用 IE8 及早期版本 */
}

#join:hover {
  color: rgba(0,0,0,1);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#backUp:hover, #chatDiv:hover, #news:hover, #searchbox:hover {
  opacity:1;
  filter:alpha(opacity=100); /* 適用 IE8 及早期版本 */
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

}



#search, #goSearch
{
  float: left;
}

#search
{
  padding: 5px 9px;
  height: 35px;
  width: 380px;
  border: 1px solid #a4c3ca;
  font: normal 13px 'trebuchet MS', arial, helvetica;
  font-size: 1.5rem;
  background: #f1f1f1;
  
  -moz-border-radius: 50px 3px 3px 50px;
   border-radius: 50px 3px 3px 50px;
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#goSearch, #goBackup
{   
  background: #6cbb6b;
  background-image: -moz-linear-gradient(#95d788, #6cbb6b);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
  
  -moz-border-radius: 3px 50px 50px 3px;
  border-radius: 3px 50px 50px 3px;
  
  border-width: 1px;
  border-style: solid;
  border-color: #7eba7c #578e57 #447d43;
  
   -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;      

  height: 35px;
  margin: 0 0 0 10px;
        padding: 0;
  width: 90px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #23441e;
  
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#goBackup {
  width: 150px;
}

#goSearch:hover, #goBackup:hover
{   
  background: #95d788;
  background-image: -moz-linear-gradient(#6cbb6b, #95d788);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
} 

#goSearch:active
{   
  background: #95d788;
  outline: none;
   
   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

#goSearch::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
} 


/* 手機使用 */

@media all and (max-width: 720px) {

  #map {
  	float: none;
  	width: 100%;
  	font-size: 2rem;
  }

  #join {
    float: none;
    width: 100%;
    max-height: none;
  }

  #chatDiv, #news, #backUp, #searchbox {
    display: none;
  }
  
  #searchbox {
  	width: 85%;
  	position: fixed;
  	bottom: 0px;
  }
  #search {
  	width: 75%;
  }
  #goSearch {
  	width: 20%;
  }

}
  