/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html {
	backgound-color: hsla(240%,15%,75,1);
}


.highlightedText {
  background: yellow;
}

