/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";



[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body {
	background-image: url("../images/tiles.png");
}


#goban-nav {
	select {
		min-width: 150px;
		padding: 5px;
		font-size: 16px;
	}
}

#goban-side {
	#goban-sectionTitle {
		color: black;
		padding: 2px;
		border-bottom: 2px dotted #aaf;
		border-left: 2px dotted #aaf;
	}
	a {
		color: #666;
		img {
	/*		@include transition(transform 1s ease-in);  */
		}
		&:hover,&:active,&.active {
			img {
				@include transform(scaleX(1.2));
				@include transform-origin(left);
			}
		}
	}
}

#goban-keyBordCtrl {
	@include transition(all 1s ease-in);
	&.ng-hide {
		opacity: 0;
	}
}

footer {
	$h: 50px;
	background-image: url("../favicon.png");
	@include transition(all 1s linear);
	font-size: 18px;
	position:fixed;
	bottom:0px; 
	width:100%;
	height: $h;
	text-align:center;
	padding: 10px;
	color: darken(cyan,25);
	background-color: hsla(260, 75%, 95%, 0.86);
	border-top: 5px ridge gray;
	ol {
		display: inline-block;
		max-width:600px;
		list-style: upper-roman inside;
		text-align:left;
		li {
			padding: 5px;
			background-image: url("../images/tiles.png");
		}
	}
	
	#last, #next {
		color: #999;
		font-size: 18px;
		padding: 10px;
		margin-left: 15px;
		margin-right: 15px;
	}
	&.sunk {
		bottom: -$h - 20px;
	}
	&.full {
		@include transition(all 0.5s linear);
		height: 50%;
		overflow:auto;
	}
}


