/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";

/* 
TODO:

FIX blocks

    nav
  _______

  control
  _______

  v1 | v2



1.clear **
2.responsive **
3.3d*
4.fun*
5.quite **


*************/

$navHeight: 50px;
$controlHeight: 50%;
$viewHeight: 50%;



$yellow: hsla(60,80%,68%,1);
$red: hsla(0,100%,68%,1);
$skin: hsla(0,80%,80%,1);
$main: hsla(30,30%,80%,0.86);

$earth: darken($yellow,50);

$borderB: 3px;

$login: hsla(240,70%,50%,1);
$try: hsla(200,70%,50%,1);

$fm: "Biaodian Pro Sans CNS","Fira Sans OT","Noto Sans CJK TC","Source Han Sans TW","Noto Sans T Chinese","Source Han Sans TWHK","Microsoft Jhenghei","微軟正黑體","Source Han Sans","Source Han Sans HK","Lantinghei TC","Heiti TC","黑體-繁","Lihei Pro","儷黑 Pro","Apple LiGothic","蘋果儷中黑","Adobe 繁黑體 Std","cwTex 明體","Adobe 明體 Std","PMingLiU","MingLiU",sans-serif,"HanaMinA","HanaMinB","HAN NOM A","HAN NOM B";
$fmBig: "Microsoft Jhenghei","微軟正黑體","Lantinghei TC","Heiti TC","黑體-繁","Lihei Pro","儷黑 Pro","Apple LiGothic","蘋果儷中黑","PMingLiU","MingLiU",sans-serif,"HanaMinA","HanaMinB","HAN NOM A","HAN NOM B";

%cute-img {
    position: relative;
    width: 50px;
    z-index: 3;
    @include transform(rotate(15deg) scale(0.7));
    @include transition(all 0.3s ease);
    opacity: 1;
    border: 3px ridge $yellow;
    &.icon {
      width: 25px;
    }
}

%arrow-v {
	display: inline-block;
	width: 0px;
	content: "";
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

html, body{
  margin: 0px;
  padding: 0px;
}

html {
  font-family: $fm;
  color: mix(white,gray);
}


a {
  cursor: pointer;
  color: darken(gray,10%);
  text-decoration: none;
  &#send{
    color: blue;
    text-decoration: underline;
  }
  &.top-right {
  	position: absolute;
  	top: 5px;
  	left: 50%;
  }
}

b {
	&.arrow-down {
		@extend %arrow-v;
		border-top: 16px solid #999;
	}
}

#ctrl-port-container {
  position: absolute;
  top: 0px;
  display: block;  
  width: 100%;
  overflow: auto;

  @include background-image(linear-gradient(black, blue));
  @include transition(all 0.5s ease);

  &,v0{
  		height: 100%;
  }
  &.v1{
 		height: $controlHeight;
  }
  &.v2 {
  	height: 0%;
  }



  #contorl-port-ordering {
      margin-left: 10px;
      span {
        padding: 10px;
        a {
        	padding: 5px;
  			text-align: center;
        	color: lighten(blue,20%) !important;
          	&:hover,
          	&:active,
          	&.active {
            	border-bottom: $borderB solid lighten(blue,20%);
          	}
        }
      }
   
  }

}

#view-port {
  position: absolute;
  top: $controlHeight;
  left: 0px;
  display: block;
	width: 100%;
  @include background-image(linear-gradient($yellow, white));

  &.v0 {
  	top: 100%;
	height: 0%;
	overflow: hidden;
  }

  &,&.v1 {
	height: 100% - $controlHeight;
  }

  &.v2 {
 	top: 0%; 
	height: 100%;
  }

  @include transition(all 0.5s ease);

  h1 {
      position:relative;
      z-index:3;
      font-size: 24px;
      color:hsla(270,100%,30%,1);
  }
  
  #flag-inner {
      $font-size: 16px;
      font-size: $font-size;
      padding-left: 25px;
      margin-top: 25px;
      display: inline-block;
      width: 40%;
      height: 100%;  
      span {
        display: inline-block;
      }
      #time {
        color: gray;
        font-size: 9px;
      }
      #intro {
        width: 100%;
        height: 80%;
        overflow: auto;
        color: black;
        padding: 10px;
        li {
          width: 100%;
          list-style: circle;
          margin-top: 10px;
          margin-left: 10px; 
        }
        #need {
          color:hsla(0,60%,50%,1);
        }
      }
  }
    
  #note {
      display: inline-block;
      vertical-align: top;
      padding-top: 25px;
      width: 45%;
      height: 80%;
      max-width: 260px;
      overflow: auto;
      color:mix(blue,white);
      p {
        margin-left: 24px;
        line-height: 160%;
        font-size: 18px;
      }
  }


	img {
      @extend %cute-img;
	}

	.divider {
		content: "";
		width: 45%;
		display: inline-block;
		height: 3px;
		border-top: 2px dotted blue;
	}
}



#welcome {
  @include background-image(linear-gradient(blue, black));
  background-color: $earth;
  position: fixed;
	z-index: 999998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
  #outer {
    @include background-image(linear-gradient(to top, $yellow,white));
    position: absolute;
    z-index: 999999;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 66%;
    min-height: 280px;
    border-radius: 25px;
    h1 {
      font-family: $fmBig;
      font-size: 32px;
      color: black;
      padding: 5px;
    }
    h4 {
      font-family: $fmBig;
      color: mix(orange, black);
      font-size: 18px; 
      margin-top: 25px;
      padding: 10px;
      height: 50px;
      line-height: 160%;
    }
  }
}

button {
    display: inline-block;
    @include border-radius(15px);
    font-size: 20px;
    height: 50px;
    padding: 10px;
    &#FBlogin {
    	color: lighten($login, 20);
    	background-color: $login;
    	border-top: 3px solid lighten($login, 20);
    	border-right: 3px solid lighten($login, 20);
    	border-left: 3px solid darken($login, 20);
    	border-bottom: 3px solid darken($login, 20);
    	&:hover {
    		color:mix($login,white);
    	}
    	&:active{
    		border-top: 3px solid darken($login, 20);;
    		border-right: 3px solid darken($login, 20);;
    		border-left: 3px solid lighten($login, 20);;
    		border-bottom: 3px solid lighten($login, 20);;
    	}
    }
    &#try {
    	color: darken($try,20);
    	background-color: $try;
    	border-top: 3px solid lighten($try,20);
    	border-right: 3px solid lighten($try, 20);
    	border-left: 3px solid darken($try, 20);
    	border-bottom: 3px solid darken($try, 20);
    	&:hover {
    		color:mix($try,black);
    	}
    	&:active{
    		border-top: 3px solid darken($try,20);
    		border-right: 3px solid darken($try,20);
    		border-left: 3px solid lighten($try, 20);
    		border-bottom: 3px solid lighten($try, 20);
    	}
    }
}


  .shake0, .shake1, .shake2, .shake3 {
    position: relative;
    top: 15px;
    width: 60px;
    height: 60px;
    display: inline-block;
    content: "";
    background-image: url("../we/img/handshake0.png");
    background-size: 52px 60px;
    background-repeat: no-repeat;
  }

  .shake0 {
    @include transform(rotate(180deg));
  }

  .shake1 {
    position: relative;
    left: -10px;
    top:15px;
    @include transform(skewX(0deg));
  }

  .shake2 {
    @include transform(rotate(-60deg));
  }

  .shake3 {
    position: relative;
    left: -25px;
    top:25px;
    @include transform(rotate(-240deg));
  }

.gray {
  color: gray;
}


#control-top {
  width: 100%;
  height: $navHeight;
  line-height: $navHeight;
  select {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
  }
  & .right {
    float: right;
  }
  & .left {
    float: left;
  }
  & a{
  	padding: 5px;
  	text-align: center;
    &:hover,&:active,&.active {
      background-color: mix(blue,black);
      @include border-radius(15px);
      color: $yellow;    
    }
  }
}



.phoneOnly, .padOnly{ 
  display: none;
}

/*  responsive */

/*********
.noPhone	.noWide
.phoneOnly 	.padOnly	.wideOnly
**********/

@media screen and (max-width : 600px){
  .phoneOnly{ display: inline-block; }
  .noPhone,
  .padOnly,
  .wideOnly { display: none}

  select {
  	position: absolute;
  	right: 0px;
  	top: 4px;
  	margin: 0px;
  	width: 150px;
  }

  .skh-list {
  	ul{
  		margin-top: 10px;
	}
  }

  #map {
  	margin-top: 15px;
  }

  #welcome{
    width: 100%;
    #outer {
      position: static;
      height: 100%;
      width: 100%;
      #inner {
        padding-top: 15%;
      }
    }
  }

}


@media screen and (min-width : 600px) and (max-width : 800px){
  .padOnly{ display: inline-block; }
  .phoneOnly,.wideOnly { display: none}
}

@media screen and (min-width : 800px){
  .noWide { display: none}
}

a.disabled {
	color: gray !important;
	cursor: not-allowed !important;
}

#album {

}



.skh-list {
  text-align: left;
  &,a {
    color: #448888;
  }
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      color: gray;
      width: 50%;
      &#albumLi {
        width: 50px;
        height: 50px;
        img {
          margin-right: 0px;
        }
      }
      img {
        float: left;
        opacity: 0.8;
        margin-right: 3px;
        width: 50px;
        height: 50px;
      }
      a, p {
        margin-left:3px;      
      }
      a {
        vertical-align: top;
        height: 50px;
        overflow: auto;
        cursor: pointer;
        p {
          padding: 5px;          
        }        
      }
      &:hover,&:active,&.active {
          color: black;
          img {
              @extend %cute-img;
              margin-bottom: -300px;
          }
          a {
              p {
              margin-left: 50px; 
            }
          }
      }
    }
  }
}


#info> ul > li img , #freetime > ul > li img{
  margin-right: 15px;
}



.leaflet-marker-icon {
    @include border-radius(50%);
    opacity: 1;
    &:hover,&:active,&.active {
	    z-index: 999999 !important;
	    opacity: 1;
      @extend %cute-img;
	  }
}


#main-form {
  $form: 45px;
  padding: 10px;

  font-size: 16px;
  color: mix(black,gray);
  
  button {
    padding: 5px;
    font-size: 22px;
  }

  select {  }

  textarea{
    display: block;
    &#note{
    	min-height: 300px;
    }
  }

  #warning {
  	height: $form;
  	& a {
  		color: blue;
  		&:hover,&:active,&.active {
  			text-decoration:underline;
  		}
  	}
  }

  .input-group {
      display: table;
      border-collapse: separate;        
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;


      .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
      } 

      .input-group-addon, .form-control {
        display: table-cell;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        line-height: $form;
        padding: 10px 16px;
        font-size: 18px;
        border-radius: 6px;
      }


      .input-group-addon,
      .input-group-btn {
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
      }
      .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 10px;
      }

      .input-group .form-control:first-child,
      .input-group-addon:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .input-group-addon:first-child {
        border-right: 0;
      }
      .input-group .form-control:last-child,
      .input-group-addon:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .input-group-addon:last-child {
        position: relative;
        z-index: 3;
        border-left: 0;
      }
  }

  #submit {
    @include background-image(linear-gradient($yellow, white)); 
  }

  #leave {    
    @include background-image(linear-gradient($red, white));     
  }
}

.search-group {
  display:inline-block;
  margin: 3px;
  
  input#main-search {
    font-size: 16px;
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    border-top: 2px solid hsla(240,35%,50%,1);
    border-left: 2px solid hsla(240,35%,50%,1);
    border-right: 2px solid hsla(240,100%,70%,1);
    border-bottom: 2px solid hsla(240,100%,70%,1);
    line-height: 20px;
  }

  .looking-glass{
   font-size: 15px; /* This controls the size. */
   display: inline-block;
   width: 10px;
   height: 10px;
   border: 3px solid hsla(250,70%,70%,1);
   position: relative;
   @include border-radius(50%);
   &::before{
     content: "";
     display: inline-block;
     position: absolute;
     left: 7px;
     top: 10px;
     border-width: 0;
     background: hsla(250,70%,70%,1);
     width: 11px;
     height: 5px;
     @include transform(rotate(45deg));
    }
  }
}

/* Animate */

.open {
  opacity: 0;
  @include transform(rotateY(180deg));
  @include transition(all 1s ease);
}

.invis {
  opacity: 0;
  @include transition(all 0s ease);
}
