html(ng-app='automap', ng-controller='autoCtrl')
  include ./includes/head.jade
  body(id = "body",
      ng-swipe-right="goban.dx(-1)",
      ng-swipe-left="goban.dx(1)",
      ng-style="{height: countHeight() + 'px'}",
      ng-init = "v = 0")
    include ./includes/nav.jade
    include ./includes/side-bar.jade
    include ./includes/main.jade
    include ./includes/backup-tool.jade
    include ./includes/footer.jade

    // Components
    include ./includes/js-components.jade
    
    // Main
    script(src='/javascripts/ngEthercalc.js', type='text/javascript')
    