html(ng-app='automap', ng-controller='autoCtrl')
  include ./includes/head.jade
  body(id = "body",
      ng-swipe-right="goban.dx(-1)",
      ng-swipe-left="goban.dx(1)",
      ng-style="{height: countHeight() + 'px'}",
      ng-init = "v = 0")
    include ./includes/nav.jade
    include ./includes/side-bar.jade
    include ./includes/main.jade
    include ./includes/backup-tool.jade
    include ./includes/footer.jade

    div#ad-print.printOnly
      {{'GENERATED_BY_GOBAN' | translate}} @ http://goban.tw

    // Components
    include ./includes/js-components.jade
    
    // Main
    script(src='/javascripts/ngEthercalc.js', type='text/javascript')
    script(src='/javascripts/404.js', type='text/javascript')
    script(src='/javascripts/567hub.js', type='text/javascript')
    
    // script(src='/javascripts/ui.js', type='text/javascript')
  
    // Langs
    include ./includes/js-langs.jade
    
    // tips
    script(src='/javascripts/123tips.js', type='text/javascript')


