footer {
	$h: 50px;
	background-image: url("../favicon.png");
	@include transition(all 1s linear);
	font-size: 18px;
	position:fixed;
	bottom:0px; 
	width:100%;
	height: $h;
	text-align:center;
	padding: 10px;
	color: darken(cyan,25);
	background-color: hsla(260, 75%, 95%, 0.86);
	border-top: 5px ridge gray;
	ol {
		display: inline-block;
		max-width:600px;
		list-style: upper-roman inside;
		text-align:left;
		li {
			padding: 5px;
			background-image: url("../images/tiles.png");
		}
	}
	
	#last, #next {
		color: #999;
		font-size: 18px;
		padding: 10px;
		margin-left: 15px;
		margin-right: 15px;
	}
	&.sunk {
		bottom: -$h - 20px;
	}
	&.full {
		@include transition(all 2s linear);
		height: 50%;
		overflow:auto;
	}
}