#goban-keyBordCtrl, 
#lang, 
#flag,
#scale {
	@include transition(all 1s ease-in);
	&.hidden {
		opacity: 0;
	}
}

#goban-keyBordCtrl {
	&.hidden {
		width:0px;		
		@include filter(grayscale(100%) blur(1px));
	}
}

#goban-main:hover .goban-blank {
	opacity: 0;
}