.flashStart {
  display: block;
  position: fixed;
  width: 50%;
  height: 50%;
  top: 33%;
  left: 25%;
  text-align: center;
  vertical-align: middle;
  z-index: 1096;
}

#page {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 210mm;
  height: 297mm;
  background-color: #ffffff;
  z-index: -1;
}

#page:hover {
  z-index: 89;
}

form#frm {
  z-index: 1;
  background: rgb(200, 220, 200);
 /* width: 20%; */ 
  width: 50%;
  top: 0;
  right: 0;
  border-radius: 5px;
  padding: 5px 15px;
  position: absolute;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

form#frm:hover {
  filter: alpha(opacity=100);
  opacity: 1;

}

input {
  font-size: 120%;
  color: rgba(0,0,0,0.7);
}

div#public {
  position: absolute;
  top: 6px;
  right: 3px;
}

#aCheckbox {
  display: inline-block;
  min-height: 1px;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#aCheckbox:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;  
}
#aCheckbox.true, #aCheckbox.true:hover {
  filter: alpha(opacity=100);
  opacity: 1;  
}

span#present {
  color: green;
}

span#present.false {
  filter: alpha(opacity=50);
  opacity: 0.5;  
}
span#present.true {
  text-decoration: underline;
}

.clipOnly {
  color: rgba(0,0,0,0);
  position: absolute; 
}


#doPrint {
  font-size: 150%;
}


.printOnly, .printOnly {
  display: none;
}

@media print {

  body {
    background-color: #ffffff;
    width: 210mm;
  }

  .noPrint, .noPrint *{
    display: none;
  }

  .printOnly, .printOnly *{
    display: inline;
    visibility: visible;
  }

  #header {
    height: 0px;
    display: none;
  }

  #page #main, #listA4 {
    position: absolute;
    top: 0px;
  }


}

.qr {
  display: inline-block;
  width: 20mm;
}

#ord, .num {
  max-width: 15mm;
}

#header {
  display: inline-block;
  height: 150px;
}

.small {
  font-size: 70%;
}

ul#sands {
  list-style-type: none;
}
ul#sands li {
  text-align: right;
}

#all {
  text-align: center;
}

input#tags {
  width: 45mm;
}

#headInfos {
  position: fixed;
  z-index: 88;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 36px;
  font-size: 16px;
  line-height: 16px;
/*  text-align: center; */
  overflow: hidden;
  border-top: black 1px solid;
 /* border-bottom: black 3px solid; */
}


#headInfos span{
  max-height: 28px;
  min-width: 10px;
}

#headInfos span:hover{
  max-height: 300px;
  z-index: 999;
}


#headInfos input[type=radio]{
  width: 130px;
  margin-right: -3px;
}

#headInfos #rightHead {
  display:inline-block; position:absolute; top:8px; right: 10px;
}

#main h1,#main h2, #main h3 {
  text-align: center;
}

#headInfos a, #main a, #leftSupports a {
  display: inline-block;
  border: green 2px solid;
  cursor: pointer;
  border-radius: 5px 0 5px 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  background-color: #afa;
}

#headInfos a:hover, #main a:hover, #leftSupports a:hover {
  font-size: 16px;
}


#main a#info, #headInfos a#info, #leftSupports a#info {
  cursor: help;
}


#main a.msg-icon, #headInfos a.msg-icon, #leftSupports a.msg-icon{
  border: 0;
  background-color: transparent;
  height:16px;
  width:16px;
  top:3px;
  margin:0px 8px 0px 2px;
  background:url(../javascripts/lib/jAlert/images/msg-icon-sprite.png) no-repeat;
}

#main a.msg-icon-info, #headInfos a.msg-icon-info, #leftSupports a.msg-icon-info{
  background-position:0px -48px;
}


#headPlans{
  display: block;
  position: absolute;
  top: 31px;
  left: 200px;
  width: 66%;
  height: 27px;
  background-color: rgba(255,255,255,0);
  text-align: center;
  border-radius: 0 0 10px 10px ;
  padding: 5px;
  line-height: 16px;
}

#headPlans a{
  position: absolute;
  right: 5px;
  padding: 3px;
  width: 150px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  color: #999;
  border-radius: 10px;
  overflow: hidden;
  cursor: alias;
}


#headPlans a.focus {
  position: relative;
  top: 3px;
  display: inline-block;
  border-bottom: white;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 3px;
  border-radius: 10px 10px 0 0;
  background: rgba(255,255,255,0);
  border: 5px black solid;
  width: 150px;
  border-bottom: none;
  background: #fff;
  color: #000;
  z-index: 51;
  cursor: context-menu;
}


span#status {
  display: inline-block;
  color: #999;
}

span#updownload {
  margin-left: 30px;
}

.d {
  margin-right: 30px;
}

/* 
#rightPages */

#leftSupports {
  display: block;
  position: absolute;
  left: 0px;
  top: 33px;
  width: 200px;
  height: 297mm;
  padding-right: 2px;
  cursor: context-menu;
}



#rightPages li, #leftSupports li{
  position: relative;
  top: 20px;
  left: -5px;
  margin-top: 5px;
  display: block; 
  border: 1px black dotted;
  border-radius: 10px 0 10px 0;
  background-color: rgba(255,255,255,0); 
  padding: 2px;
  cursor: pointer;
  text-align: center;
  color: #999;
}

#rightPages li:hover, #rightPages li.focus, #leftSupports li:hover {
  border: 5px black solid;
 /* border-radius: 10px 0 0 0;  
  margin-right: -10px;
  border-right: none;
 */
  background-color: #fff; 
  color: #000;
}

/* #leftSupports */

#rightPages {
  display: block;
 position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 297mm;
  border: 1px black solid;
  border-radius: 10px 0 0 10px ;
  padding: 5px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#leftSupports:hover {
  width: 300px;
  z-index: 89;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#main, #listA4 {
  width: 210mm;
  height: 297mm;
  padding: 10px;
  display: block;
  border-radius: 15px;
  overflow: auto;
  cursor: progress;
}

#main {
  position: absolute;
  background: #fff;
  top: 65px;
  left: 212px;
}

#main #title {
  display: inline-block;
  width: 100%;
  text-align: center;
}

tr {
  min-height: 20px;
}
th,td {
   min-width: 20px;
}

a#x, #x {
  cursor: not-allowed; 
}

a#y, #y {
  cursor: copy;
}


.s {
  cursor: alias;
}

img.leaf {
  height: 40px;
}

img.shadow {
  position:relative;
  /* left:-24px; */
  left:-14px;
}

img.face {
  height: 300px;
  border-radius: 15px;
}


#photo {  
  text-align: center;
}

#popup-content {
  display: block;
  background: #fff;
  width: 1%;
  height: 1%;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: -1;
}

#popup-content.true {
  width: 80%;
  height: 80%;
  z-index: 98;  
}

#popup-content * {
  position: relative;
  z-index: 99;
}

textarea {
  font-size: 16pt;
}


#timeline.draw {
  display: inline-block;
  width: 760px;
  height: 120px;
  position: relative;
  top: 10px;
  left: 5px;
}

.px {
  display: block;
  position: absolute;
  z-index: 51;
  background-color: #999;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
  border-radius: 5px;
}

table {
  border-collapse:collapse;
  text-align: center;
  vertical-align: middle;
}

table {
  background: 3px solid green;
}

td,th {
  border: 2px solid green;
  padding: 5px;
}


th {
  background-color: #afa;
}

td {
  background-color: #efe;
}



/* themes */


body {
  background-color: #cfc;
}

body.winter {
  background-color: #CDFEFF;
}

body.spring {
  background-color: #FFE7CD;
}

body.summer {
  background-color: #FFAC55;
}

body.fall {
  background-color: #D77F23;
}



#headInfos {
  background-color: #E4D7CA;
  background-image: -webkit-linear-gradient(#E4D7CA 0%, #fff 180%);
  background-image: -moz-linear-gradient(#E4D7CA 0%, #fff 180%);
  background-image: -o-linear-gradient(#E4D7CA 0%, #fff 180%);
  background-image: linear-gradient(#E4D7CA 0%, #fff 180%);
}

#headInfos.winter {
  background-color: #fff;  
  background-image: -webkit-linear-gradient(#fff 0%, #666 180%);
  background-image: -moz-linear-gradient(#fff 0%, #666 180%);
  background-image: -o-linear-gradient(#fff 0%, #666 180%);
  background-image: linear-gradient(#fff 0%, #666 180%);
}

#headInfos.spring {
  background-color: #FEFFCD;  
  background-image: -webkit-linear-gradient(#FEFFCD 0%, #fff 180%);
  background-image: -moz-linear-gradient(#FEFFCD 0%, #fff 180%);
  background-image: -o-linear-gradient(#FEFFCD 0%, #fff 180%);
  background-image: linear-gradient(#FEFFCD 0%, #fff 180%);
}

#headInfos.summer {
  background-color: #FFAC55;  
  background-image: -webkit-linear-gradient(#FFAC55 0%, #fff 180%);
  background-image: -moz-linear-gradient(#FFAC55 0%, #fff 180%);
  background-image: -o-linear-gradient(#FFAC55 0%, #fff 180%);
  background-image: linear-gradient(#FFAC55 0%, #fff 180%);
}


#headInfos.fall {
  background-color: #D77F23;  
  background-image: -webkit-linear-gradient(#D77F23 0%, #fff 180%);
  background-image: -moz-linear-gradient(#D77F23 0%, #fff 180%);
  background-image: -o-linear-gradient(#D77F23 0%, #fff 180%);
  background-image: linear-gradient(#D77F23 0%, #fff 180%);
}



#rightPages, #leftSupports {
  background-color: #E4D7CA;
  text-align: center;
}

#rightPages.winter, #leftSupports.winter {
  background-color: #fff;
}

#rightPages.spring, #leftSupports.spring {
  background-color: #FEFFCD;
}

#rightPages.summer, #leftSupports.summer {
  background-color: #FFAC55;
}
#rightPages.summer li, #leftSupports.summer li{
  color: #000;
}


#rightPages.fall, #leftSupports.fall {
  background-color: #D77F23;
  color: #eee;
}

#rightPages.fall li, #leftSupports.fall li{
  color: #eee;
}
#rightPages.fall li:hover, #rightPages.fall li.focus, #leftSupports.fall li:hover {
  background-color: #fff; 
  color: #000;
}




#main.winter,#listA4.winter {
  background-image: url(../img/backgrounds/dotWinter.jpg);
}
#main.spring,#listA4.spring {
  background-image: url(../img/backgrounds/dotSpring.jpg);
}
#main.summer,#listA4.summer {
  background-image: url(../img/backgrounds/dotSummer.jpg);
}
#main.fall,#listA4.fall {
  background-image: url(../img/backgrounds/dotFall.jpg);
}