/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/handbook.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 15, ../sass/handbook.scss */
#contact {
  color: #a8a8f0;
}

/* line 19, ../sass/handbook.scss */
.arrowHead-left {
  display: inline-block;
  width: 0px;
  border-right: 4px solid black;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

/* line 27, ../sass/handbook.scss */
.gov {
  -webkit-filter: grayscale(100%) brightness(75%);
  -moz-filter: grayscale(100%) brightness(75%);
  filter: grayscale(100%) brightness(75%);
}

/* line 34, ../sass/handbook.scss */
ol.tiny > li {
  margin-top: 10px;
}

/* line 38, ../sass/handbook.scss */
img.idea {
  height: 240px;
  border-radius: 15px;
}

/* line 43, ../sass/handbook.scss */
#handbook {
  opacity: 0.85;
}
/* line 45, ../sass/handbook.scss */
#handbook b {
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transform: scale(3);
  margin-right: 15px;
  margin-bottom: 8px;
}
/* line 50, ../sass/handbook.scss */
#handbook:hover, #handbook:active {
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 56, ../sass/handbook.scss */
body {
  background: url(http://upload.wikimedia.org/wikipedia/commons/3/36/Mount_Yu_Shan_-_Taiwan.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 18px;
}

/* line 62, ../sass/handbook.scss */
body.in {
  background: none;
}

/* line 66, ../sass/handbook.scss */
.main-container {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  min-height: 1024px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 74, ../sass/handbook.scss */
.search {
  display: inline-block;
  border: 8px rgba(155, 155, 255, 0.5) solid;
  vertical-align: middle;
}
/* line 78, ../sass/handbook.scss */
.search input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 5px;
}

/* line 87, ../sass/handbook.scss */
.answer, .extand {
  display: inline-block;
  border-radius: 15px;
  padding: 9px;
}

/* line 93, ../sass/handbook.scss */
.answer {
  margin-left: 32px;
  border: 2px #9b9bff solid;
}

/* line 98, ../sass/handbook.scss */
.extand {
  border: 1px #19c8ff solid;
}

/* line 102, ../sass/handbook.scss */
.tiny {
  font-size: 12px;
}

/* line 106, ../sass/handbook.scss */
.navbar-header {
  padding-right: 20px;
}

/* line 111, ../sass/handbook.scss */
.row {
  margin-bottom: 35px;
}

/* line 115, ../sass/handbook.scss */
p {
  font-size: 20px;
  line-height: 160%;
  margin-top: 25px;
}

/* line 122, ../sass/handbook.scss */
i {
  font-style: italic;
  margin-left: 35px;
}

/* line 127, ../sass/handbook.scss */
.name {
  border: 2px solid #e8e830;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 134, ../sass/handbook.scss */
.speaker {
  margin: 15px;
  border-radius: 15px;
  position: fixed;
  left: 0;
  top: 32%;
}

/* line 142, ../sass/handbook.scss */
.book {
  float: right;
}

/* line 146, ../sass/handbook.scss */
.box:first-letter, .box p:first-letter {
  margin-left: 18px;
}

/* line 150, ../sass/handbook.scss */
.box {
  display: block;
  font-size: 18px;
  border-radius: 15px;
  padding: 15px;
  width: 25%;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

/* line 162, ../sass/handbook.scss */
.sample-show-hide.ng-hide-remove {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block !important;
}

/* line 167, ../sass/handbook.scss */
.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity: 0;
}

/* line 172, ../sass/handbook.scss */
.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* line 179, ../sass/handbook.scss */
  .noPhone {
    display: none;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 185, ../sass/handbook.scss */
  .noPhone {
    display: none;
  }

  /* line 189, ../sass/handbook.scss */
  .nav > li {
    display: inline-block;
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 195, ../sass/handbook.scss */
  .noPhone {
    display: inherit;
  }
}
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 206, ../sass/handbook.scss */
  .noPhone {
    display: none;
  }
}
/********/
/* Animate */
