/*
Error: Invalid CP950 character "\xE9"
        on line 21 of C:/Users/yunegh/Documents/automap/sass/index.scss

16:     width: 450px; height: 200px;
17:     max-width: 25%; max-height: 33%;
18:     background: rgba(200,200,200,0.5);
19:     border: 3px; border-radius: 10px; padding: 5px; overflow: auto;
20:     opacity:0.3;
21:     filter:alpha(opacity=30); /* 適用 IE8 及早期版本 *\/ }
22: 
23: #news {
24:     left: 360px;
25: }
26: 

Backtrace:
C:/Users/yunegh/Documents/automap/sass/index.scss:21
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1320:in `block in find_encoding_error'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `each_with_index'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:1319:in `find_encoding_error'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/util.rb:896:in `check_sass_encoding'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:423:in `check_encoding!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:379:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CP950 character \"\xE9\"\A         on line 21 of C:/Users/yunegh/Documents/automap/sass/index.scss\A \A 16:     width: 450px; height: 200px;\A 17:     max-width: 25%; max-height: 33%;\A 18:     background: rgba(200,200,200,0.5);\A 19:     border: 3px; border-radius: 10px; padding: 5px; overflow: auto;\A 20:     opacity:0.3;\A 21:     filter:alpha(opacity=30); /* 適用 IE8 及早期版本 */ }\A 22: \A 23: #news {\A 24:     left: 360px;\A 25: }\A 26: "; }
