/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 13, ../sass/screen.scss */
body {
  background-image: url("../images/tiles.png");
}

@media screen and (max-width: 500px) {
  /* line 7, ../sass/_responsive.scss */
  .noPhone, .wideOnly {
    display: none !important;
  }

  /* line 11, ../sass/_responsive.scss */
  #goban-nav select {
    min-width: 0px !important;
    width: 80px !important;
  }

  /* line 16, ../sass/_responsive.scss */
  #goban-side {
    position: absolute;
    left: 0%;
  }
  /* line 19, ../sass/_responsive.scss */
  #goban-side.v0 {
    width: 100%;
  }
  /* line 22, ../sass/_responsive.scss */
  #goban-side.hidden {
    width: 50%;
    left: -50%;
  }

  /* line 27, ../sass/_responsive.scss */
  #goban-main {
    width: 100%;
  }
  /* line 29, ../sass/_responsive.scss */
  #goban-main.v0 {
    width: 0%;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  /* line 36, ../sass/_responsive.scss */
  .phoneOnly, .wideOnly {
    display: none !important;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  /* line 42, ../sass/_responsive.scss */
  .phoneOnly {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  /* line 48, ../sass/_responsive.scss */
  .phoneOnly {
    display: none !important;
  }
}
/* line 2, ../sass/_navbar.scss */
#goban-nav select {
  min-width: 150px;
  padding: 5px;
  font-size: 16px;
}
/* line 9, ../sass/_navbar.scss */
#goban-nav ul li a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-border-radius: 5px 50% 50% 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 50% 50% 5px;
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
}
/* line 13, ../sass/_navbar.scss */
#goban-nav ul li a:hover, #goban-nav ul li a:active, #goban-nav ul li a.active {
  background-color: #999;
}
/* line 17, ../sass/_navbar.scss */
#goban-nav ul li a.active::after {
  position: absolute;
  top: 8px;
  left: 7px;
  display: inline-block;
  content: "";
  width: 0px;
  height: 0px;
  border: 2px solid cyan;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 29, ../sass/_navbar.scss */
#goban-nav ul li a.dark {
  border: 3px solid gray;
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #999;
}

/* line 23, ../sass/screen.scss */
.goban-blank a {
  font-size: 11px !important;
}

/* line 29, ../sass/screen.scss */
#goban-side #goban-sectionTitle {
  color: black;
  padding: 2px;
  border-bottom: 2px dotted #aaf;
  border-left: 2px dotted #aaf;
}
/* line 35, ../sass/screen.scss */
#goban-side ul {
  min-height: 66px;
}
/* line 38, ../sass/screen.scss */
#goban-side a {
  color: #666;
}
/* line 41, ../sass/screen.scss */
#goban-side a.active::after {
  position: relative;
  top: -3px;
  left: 12px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid cyan;
  border-left: 2px solid cyan;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 57, ../sass/screen.scss */
#goban-keyBordCtrl, #lang, #flag {
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 59, ../sass/screen.scss */
#goban-keyBordCtrl.hidden, #lang.hidden, #flag.hidden {
  opacity: 0;
}

/* line 64, ../sass/screen.scss */
footer {
  background-image: url("../favicon.png");
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  font-size: 18px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: #007f80;
  background-color: rgba(239, 233, 252, 0.86);
  border-top: 5px ridge gray;
}
/* line 78, ../sass/screen.scss */
footer ol {
  display: inline-block;
  max-width: 600px;
  list-style: upper-roman inside;
  text-align: left;
}
/* line 83, ../sass/screen.scss */
footer ol li {
  padding: 5px;
  background-image: url("../images/tiles.png");
}
/* line 89, ../sass/screen.scss */
footer #last, footer #next {
  color: #999;
  font-size: 18px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 96, ../sass/screen.scss */
footer.sunk {
  bottom: -70px;
}
/* line 99, ../sass/screen.scss */
footer.full {
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  height: 50%;
  overflow: auto;
}

/* line 106, ../sass/screen.scss */
#flag {
  height: 25px;
}

/* line 111, ../sass/screen.scss */
.tiny, .big, .gaint {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
}

/* line 118, ../sass/screen.scss */
.tiny {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  width: 125% !important;
  height: 125% !important;
}

/* line 124, ../sass/screen.scss */
.big {
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  width: 77% !important;
  height: 77% !important;
}

/* line 130, ../sass/screen.scss */
.gray {
  color: gray;
}

/* line 134, ../sass/screen.scss */
.gaint {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -moz-transform-origin: top left 50%;
  -ms-transform-origin: top left 50%;
  -webkit-transform-origin: top left 50%;
  transform-origin: top left 50%;
  width: 66% !important;
  height: 66% !important;
}

/* line 142, ../sass/screen.scss */
#setting-bar #scale {
  margin-left: 10px;
}
