/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 15, ../sass/screen.scss */
body {
  background-image: url("../images/tiles.png");
}

/* line 21, ../sass/screen.scss */
#goban-nav select {
  min-width: 150px;
  padding: 5px;
  font-size: 16px;
}
/* line 28, ../sass/screen.scss */
#goban-nav ul li a {
  -moz-border-radius: 0% 50% 50% 0%;
  -webkit-border-radius: 0%;
  border-radius: 0% 50% 50% 0%;
}

/* line 36, ../sass/screen.scss */
#goban-side #goban-sectionTitle {
  color: black;
  padding: 2px;
  border-bottom: 2px dotted #aaf;
  border-left: 2px dotted #aaf;
}
/* line 42, ../sass/screen.scss */
#goban-side a {
  color: #666;
}
/* line 44, ../sass/screen.scss */
#goban-side a img {
  /*		@include transition(transform 1s ease-in);  */
}
/* line 48, ../sass/screen.scss */
#goban-side a:hover img, #goban-side a:active img, #goban-side a.active img {
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
  -moz-transform-origin: left 50%;
  -ms-transform-origin: left 50%;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
}

/* line 56, ../sass/screen.scss */
#goban-keyBordCtrl, #lang, #flag {
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 58, ../sass/screen.scss */
#goban-keyBordCtrl.hidden, #lang.hidden, #flag.hidden {
  opacity: 0;
}

/* line 63, ../sass/screen.scss */
footer {
  background-image: url("../favicon.png");
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  font-size: 18px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: #007f80;
  background-color: rgba(239, 233, 252, 0.86);
  border-top: 5px ridge gray;
}
/* line 77, ../sass/screen.scss */
footer ol {
  display: inline-block;
  max-width: 600px;
  list-style: upper-roman inside;
  text-align: left;
}
/* line 82, ../sass/screen.scss */
footer ol li {
  padding: 5px;
  background-image: url("../images/tiles.png");
}
/* line 88, ../sass/screen.scss */
footer #last, footer #next {
  color: #999;
  font-size: 18px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 95, ../sass/screen.scss */
footer.sunk {
  bottom: -70px;
}
/* line 98, ../sass/screen.scss */
footer.full {
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  height: 50%;
  overflow: auto;
}

/* line 105, ../sass/screen.scss */
#flag {
  height: 25px;
}

/* line 110, ../sass/screen.scss */
.tiny, .big, .gaint {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
}

/* line 117, ../sass/screen.scss */
.tiny {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  width: 125% !important;
  height: 125% !important;
}

/* line 123, ../sass/screen.scss */
.big {
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  width: 77% !important;
  height: 77% !important;
}

/* line 129, ../sass/screen.scss */
.gaint {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -moz-transform-origin: top left 50%;
  -ms-transform-origin: top left 50%;
  -webkit-transform-origin: top left 50%;
  transform-origin: top left 50%;
  width: 66% !important;
  height: 66% !important;
}

/* line 137, ../sass/screen.scss */
#setting-bar #scale {
  margin-left: 10px;
}
