footer(ng-cloak='', ng-hide='1', ng-class='{sunk : hideCtrl, full : fullTips}', ng-mouseover='fullTips = 1', ng-mouseout='fullTips = 0')
  ol
    li(ng-repeat='tp in tips')
      i#tip(ng-bind='tp | translate')