script(src='/translates/translate.js', type='text/javascript')
script(src='/translates/zh.js', type='text/javascript')
script(src='/translates/en.js', type='text/javascript')
script(src='/translates/ja.js', type='text/javascript')
script(src='/translates/de.js', type='text/javascript')
script(src='/translates/vi.js', type='text/javascript')