input(id = "mainSearch",
		type = "search",
		ng-model = "mySearch")
ul(ng-cloak = "",
	class = "auto-complete", 
	ng-show = "ac")
	li(ng-repeat = "o in myAutoCompleteList",
		class = "auto-complete-elem"
		ng-class = "{selected: s == o.t}")
		| {{o.t||(o.n)}}
a(id = "goSearch",
	ng-click = "goban.title = mySearch; mySearch = ''")
	| {{ 'GO' | translate }}