div#goban-keyBordCtrl(ng-class='{"hidden": hideCtrl}')
  div#backup.backup
    a(ng-click='goban.backupAll()',
      title ="{{'BACKUP'|translate}}")
//  div#up(ng-class='{available: false}', ng-click='goban.dy(-1)',
//  	  	    title ="{{'UP'|translate}}")
//  div#down(ng-class='{available: false}', ng-click='goban.dy(1)',
//  	    	title ="{{'DOWN'|translate}}")
//  div#left(ng-class='{available: ture}', ng-click='goban.dx(-1)',
//  	    	title ="{{'LEVELDOWN'|translate}}")
//  div#right(ng-class='{available: ture}', ng-click='goban.dx(1)',
//    	title ="{{'LEVELUP'|translate}}")
  