head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title(ng-bind-template='{{goban.sectionTitle | uriFix }} - {{"TITLE" | translate}}') hacker's goban
  link(rel='shortcut icon', type='image/png', href='/favicon.png')
  meta(property='og:title', content='零時黑板Hacker"s Goban')
  meta(property='og:site_name', content='零時黑板Hacker"s Goban')
  meta(property='og:image', content='https://goban.tw/images/Goban_19x19_vide.png')
  meta(property='og:description', content='協作分享系列網址與深入的背景知識Collaborate collection of series of URLs and background knowledge')
  link(href='/bower_components/goban/goban-ui.css', media='screen, projection', rel='stylesheet', type='text/css')
  link(href='/stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
  link(href='/stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
  //if IE
    link(href='/stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
