script(src='/bower_components/angular/angular.min.js', type='text/javascript')
script(src='/bower_components/angular-translate/angular-translate.min.js', type='text/javascript')
script(src='/bower_components/angular-animate/angular-animate.min.js', type='text/javascript')
script(src='/bower_components/firebase/firebase.js', type='text/javascript')
script(src='/bower_components/angularfire/dist/angularfire.min.js', type='text/javascript')
script(src='/bower_components/ngstorage/ngStorage.min.js', type='text/javascript')
script(src='/bower_components/goban/goban.js', type='text/javascript')