div#goban-side(ng-cloak='',
    ng-class='{hidden: hideSideBar, v0: !hideSideBar && v==0, v1: v==1}', ng-style='{height: countHeight() - navHeight + "px"}', style='display:block;overflow:auto')
  include ./side-bar-up.jade
  hr
  include ./side-bar-down.jade