
<ul id="tools" ng-cloak="" ng-controller="hubCtrl">
  <select ng-model="trick" ng-options="t.t as t.n | translate for t in tricks"></select><i ng-cloak="" ng-hide="1" class="gray">{{'MY_STAR' | translate }}</i><span ng-show="trick == 'm'"><a ng-click="toggleAnchor(objNow())"><img id="flag" ng-src="{{showStar(objNow())}}" alt="{{&quot;GATHER&quot; | translate}}" title="{{&quot;GATHER&quot; | translate}}"/></a><a ng-click="resetAnchors()"><img id="flag" src="images/mySelf.png" alt="{{&quot;ZAZAN&quot; | translate}}" title="{{&quot;ZAZAN&quot; | translate}}"/></a></span>
  <li ng-show="trick == 'm'" ng-repeat="a in $s.myAnchors"><a ng-click="goban.title = a.t; goban.myI = a.x; goban.myJ = a.y; goban.load(a[x])" title="{{a.x}}-{{a.y}}@{{a.t | uriFix}}">{{a.n | uriFix }}</a>
    <hr/>
  </li>
  <li ng-show="trick == 's'"> 
    <input type="search" ng-model="key" placeholder="{{'SEARCH' | translate}}"/>
  </li>
  <li ng-show="trick == 's'" ng-repeat="g in getIndex(key)"><a ng-click="goban.title = g; goban.load()" title="{{g}}">{{g}}</a></li>
</ul>